.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  position: relative;
  background-color: #fff;
  padding: 28px 28px 36px;
  box-sizing: border-box;
  width: 100%;
  max-width: 496px;
  height: 436px;
  border-radius: 20px;
}

.modal__title {
  margin: 0;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #000;
  margin-top: 24px;
}

.modal__input {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 24px;
  margin-top: 8px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #000;
  opacity: 50%;
  border: none;
  border-bottom: 1px solid #000;
}

.modal__radio-btns {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__legend {
  padding-top: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #000;
}

.modal__label.modal__label_type_radio {
  margin: 12px 0 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #000;
  opacity: 50%;
}

.modal__radio-input {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.modal__submit {
  width: 124px;
  height: 36px;
  margin-top: 32px;
  white-space: nowrap;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  color: #fff;
  background-color: #000;
  opacity: 30%;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}
