.modal__content.modal__content_type_image {
  width: 498px;
  height: 610px px;
  padding: 0px;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.modal__close-icon {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.modal__image {
  border-radius: 16px;
  width: 498px;
  height: 498px;
}

.modal__footer {
}

.modal__caption {
}

.modal__weather {
}
