.modal__content.modal__content_type_image {
  width: 498px;
  height: 610px;
  padding: 0px;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
}

.modal__image {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 498px;
  height: 498px;
  margin-bottom: 20px;
}

.modal__footer {
  margin-left: 32px;
}

.modal__caption {
  margin: 0 0 12px;
  width: 36px;
  height: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000;
}

.modal__weather {
  margin: 0 0 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000;
}
